*.a
*.dll
*.dylib
*.exe
*.exe~
*.log
*.njsproj
*.ntvs*
*.o
*.out
*.sln
*.so
*.suo
*.sw?
*.test

.DS_Store
.env.local
.env.*.local
.idea
.nogit*
.srv
.vs
.vscode

config.json
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
ydc
